<h1>Short info</h1>

<p>Long url: <b><%= link_to @short.longer, @short.longer %></b></p>
<p>Short url: <b><%= link_to redirect_short_url(:short => @short.shorter), redirect_short_url(:short => @short.shorter) %></b></p>

<p>Statistics</p>
<ul>
  <li>Firefox: <b><%= @short.stat.firefox %></b></li>
  <li>Opera: <b><%= @short.stat.opera %></b></li>
  <li>Chrome: <b><%= @short.stat.chrome %></b></li>
  <li>Safari: <b><%= @short.stat.safari %></b></li>
  <li>IE: <b><%= @short.stat.ie %></b></li>
  <li>Other: <b><%= @short.stat.other %></b></li>
</ul>

<%= link_to 'Back', root_path %>  
